# ==========================
# Python
# ==========================
Backend/venv/
Backend/__pycache__/
Backend/*.pyc
Backend/.env

# ==========================
# Flask
# ==========================
Backend/instance/
Backend/.pytest_cache/

# ==========================
# React / Vite
# ==========================
Frontend/node_modules/
Frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

